@import '../../styles/colors.scss';
.header{
		background-color: $primary;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-top: 40px solid $primaryDark; 
		flex-direction: row;

		img {
			margin-top: 40px;
		}
		h1 {
			color: $white;
			margin: 10px 0px 40px;
		}
	}